.headerContainer{
    background-color: #243261;
    color:white;
}
.ulHeader {
    display: flex;
    list-style: none;
    margin-right: 60px;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
}

.align {
    cursor: default;
    color: transparent;
    width: 0px;
    margin: auto;
    padding: 0;
}
.lang{
    margin-right: 20%;
    font-size: 14px !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.avatar {
    padding: 10px;
}

.avatar>img {
    height: 44px;
    padding: 0px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 250ms;
    border: 2px solid transparent;
}

.avatar>img:hover {
    transition: 250ms;
    border-radius: 50%;
    border: 2px solid orange;
}
.items:hover {
    color:#2890f2;
    fill: #2890f2;
    transition: 250ms;
}
.SVGSocialMedia{
    width: 16px;
}
li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

.logo{
    height: 30px;
}
.items {
    opacity: 1;
    transition: 250ms;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color:currentColor;
}

.sideBar {
    position: absolute;
    z-index: 20;
    background: white;
    left: 0;
    top: 0;
    bottom: 0;
    height:100%;
    width: 0px;
    transition: 500ms;
    overflow: hidden;
    padding: 0px;

}

.sideBar > ul{
    list-style: none;
    font-weight: bold;
    width: 200px;

}
.closeSideBar{
    text-align: end;
}
.cartIcon{
    position: relative;
}
