.FlexContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    $labelMargin: 25px;
    .formContainer {
        width: 600px;
    }
    @media (max-width:700px) {
        margin: auto;
    }
    h2 {
        font-size: 40px;
    }

    img {
        height: 600px;
    }

    form {
        display: flex;
        flex-direction: column;
        @import "./customCombobox/comboBox";
        position: relative;

        input {
            @include span();
        }

        label {
            display: inline-block;
            margin-top: calc($labelMargin/2);
            margin-bottom: $labelMargin;
        }

        button {
            @include btnMix($bgcolor, white, 50%, btnAnimation);
            margin: auto;
            margin-top: 40px;
        }
    }
}