.container {
  position: relative;
}

.sliderContainer {
  width: -moz-max-content;
  width: max-content;
}

.showImg {
  height: 390px;
  border-radius: 20px;
  cursor: zoom-in;
}

.slideImgs:nth-child(1) {
  margin-left: 0;
}

.slideImgs {
  z-index: 1;
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;
  transition: 250ms;
  -o-object-fit: contain;
     object-fit: contain;
  bottom: 20px;
}

.barElements {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.backward {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 646px;
  z-index: 12;
}
.backward svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.backward svg path {
  stroke: rgba(255, 255, 255, 0.5);
  transition: 250ms;
}
.backward:hover {
  cursor: pointer;
}
.backward:hover svg path {
  stroke: rgba(255, 255, 255, 0.8);
}

.forward {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 646px;
  z-index: 12;
}
.forward svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.forward svg path {
  stroke: rgba(255, 255, 255, 0.5);
  transition: 250ms;
}
.forward:hover {
  cursor: pointer;
}
.forward:hover svg path {
  stroke: rgba(255, 255, 255, 0.8);
}

.slideBar {
  display: flex;
  padding: 20px 0px;
}

.imgContainer {
  position: relative;
  z-index: 5;
  border-radius: 20px;
  margin-left: 0vw;
  margin-right: 0vw;
  height: 646px;
  border: 4px solid transparent;
  padding: 0;
}
.imgContainer img {
  max-width: 99vw;
  width: 100vw;
}

.showBar {
  max-width: 99vw;
  overflow-x: hidden;
  border: 0px;
}
.showBar div {
  border: 0px;
  width: 300vw;
  transition: 500ms;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

.activeI {
  background-color: rgba(255, 255, 255, 0.9);
}

.active {
  transition: 250ms;
}

.forward,
.backward {
  border-radius: 50%;
}

.bar {
  height: -moz-fit-content;
  height: fit-content;
}

.IMG_0 {
  border-radius: 0px;
  background-image: url("component/images/header0.jpg");
  width: 100vw;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.IMG_0 span {
  transform: scaleX(-1) translateY(-50%);
  position: relative;
  left: 55%;
  top: 50%;
  max-width: 450px;
  max-height: 400px;
  color: white;
}
.IMG_0 span button {
  position: relative;
  z-index: 50;
  margin: 10px;
  transition: 250ms;
  border-radius: 25px;
  padding: 10px;
  width: auto;
  background-color: rgb(122, 173, 255);
  color: white;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  border: 2px solid rgb(122, 173, 255);
  transition: 300ms;
}
.IMG_0 span button:hover {
  box-shadow: 0px 7px 0 0 rgb(122, 173, 255);
  background-color: white;
  color: rgb(122, 173, 255);
}
.IMG_0 span button.orange {
  border-radius: 25px;
  padding: 10px;
  width: auto;
  background-color: rgb(237, 183, 85);
  color: white;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  border: 2px solid rgb(237, 183, 85);
  transition: 300ms;
}
.IMG_0 span button.orange:hover {
  box-shadow: 0px 7px 0 0 rgb(237, 183, 85);
  background-color: white;
  color: rgb(237, 183, 85);
}

.IMG_1 {
  border-radius: 0px;
  background-image: url("component/images/header1.jpg");
  width: 100vw;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.IMG_1 span {
  transform: scaleX(-1) translateY(-50%);
  position: relative;
  left: 55%;
  top: 50%;
  max-width: 450px;
  max-height: 400px;
  color: white;
}
.IMG_1 span button {
  position: relative;
  z-index: 50;
  margin: 10px;
  transition: 250ms;
  border-radius: 25px;
  padding: 10px;
  width: auto;
  background-color: rgb(122, 173, 255);
  color: white;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  border: 2px solid rgb(122, 173, 255);
  transition: 300ms;
}
.IMG_1 span button:hover {
  box-shadow: 0px 7px 0 0 rgb(122, 173, 255);
  background-color: white;
  color: rgb(122, 173, 255);
}
.IMG_1 span button.orange {
  border-radius: 25px;
  padding: 10px;
  width: auto;
  background-color: rgb(237, 183, 85);
  color: white;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  border: 2px solid rgb(237, 183, 85);
  transition: 300ms;
}
.IMG_1 span button.orange:hover {
  box-shadow: 0px 7px 0 0 rgb(237, 183, 85);
  background-color: white;
  color: rgb(237, 183, 85);
}

.IMG_2 {
  border-radius: 0px;
  background-image: url("component/images/header2.jpg");
  width: 100vw;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.IMG_2 span {
  transform: scaleX(-1) translateY(-50%);
  position: relative;
  left: 55%;
  top: 50%;
  max-width: 450px;
  max-height: 400px;
  color: white;
}
.IMG_2 span button {
  position: relative;
  z-index: 50;
  margin: 10px;
  transition: 250ms;
  border-radius: 25px;
  padding: 10px;
  width: auto;
  background-color: rgb(122, 173, 255);
  color: white;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  border: 2px solid rgb(122, 173, 255);
  transition: 300ms;
}
.IMG_2 span button:hover {
  box-shadow: 0px 7px 0 0 rgb(122, 173, 255);
  background-color: white;
  color: rgb(122, 173, 255);
}
.IMG_2 span button.orange {
  border-radius: 25px;
  padding: 10px;
  width: auto;
  background-color: rgb(237, 183, 85);
  color: white;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  border: 2px solid rgb(237, 183, 85);
  transition: 300ms;
}
.IMG_2 span button.orange:hover {
  box-shadow: 0px 7px 0 0 rgb(237, 183, 85);
  background-color: white;
  color: rgb(237, 183, 85);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: #243261;
  height: 206px;
  width: 200px;
  margin: 10px;
  border-radius: 20px;
  transition: 300ms;
}
.cardContainer div {
  margin-top: 30px;
}
.cardContainer div .SVGContainer {
  margin: auto;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.cardContainer div h6 {
  font-family: "Open sans";
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  margin-top: 15px;
  padding: 0 30px;
}
.cardContainer:hover {
  background-color: #505b81;
  cursor: pointer;
  transform: translateY(-15px);
}

.cardContainer.Nohover:hover {
  background-color: #505b81;
  cursor: pointer;
  transform: translateY(0px);
}

.SVGICONS {
  width: 50%;
  margin: 25%;
}

.FlexContainer {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.FlexContainer .formContainer {
  width: 600px;
}
@media (max-width: 700px) {
  .FlexContainer {
    margin: auto;
  }
}
.FlexContainer h2 {
  font-size: 40px;
}
.FlexContainer img {
  height: 600px;
}
.FlexContainer form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.FlexContainer form #currentSelected {
  border: 1px solid gray;
  position: relative;
  cursor: pointer;
}
.FlexContainer form #currentSelected span:hover {
  background-color: #ebebeb;
}
.FlexContainer form #currentSelected span {
  display: inline-block;
  padding: 10px;
  width: 96.6%;
}
.FlexContainer form #currentSelected::after {
  content: "";
  border-top: 7px rgb(58, 57, 57) solid;
  border-left: 7px transparent solid;
  border-right: 7px transparent solid;
  border-bottom: 7px transparent solid;
  position: absolute;
  margin-left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.FlexContainer form .ComboBox {
  box-shadow: 0 15px 15px 0 gray;
  display: flex;
  height: 0;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  top: 103px;
}
.FlexContainer form .ComboBox input {
  display: inline-block;
  padding: 10px;
  width: 96.6%;
  width: 95.2%;
  margin: 0px auto;
}
.FlexContainer form .ComboBox span:hover {
  cursor: default;
  background-color: #ebebeb;
}
.FlexContainer form .ComboBox .selectedElement {
  color: white;
  background-color: #377ebb;
  border-radius: 5px;
}
.FlexContainer form .ComboBox .selectedElement span:hover {
  color: black;
  background: transparent;
  border-radius: 10px;
  background-image: linear-gradient(0deg, transparent, rgba(245, 243, 243, 0.6784313725), rgba(255, 253, 253, 0.9333333333), rgba(245, 243, 243, 0.6784313725), transparent);
}
.FlexContainer form .ComboBox span {
  display: inline-block;
  padding: 10px;
  width: 96.6%;
}
.FlexContainer form #comboShow {
  border: gray 1px solid;
}
.FlexContainer form input {
  display: inline-block;
  padding: 10px;
  width: 96.6%;
}
.FlexContainer form label {
  display: inline-block;
  margin-top: 12.5px;
  margin-bottom: 25px;
}
.FlexContainer form button {
  border-radius: 25px;
  padding: 10px;
  width: 50%;
  background-color: rgb(122, 173, 255);
  color: white;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  border: 2px solid rgb(122, 173, 255);
  transition: 300ms;
  margin: auto;
  margin-top: 40px;
}
.FlexContainer form button:hover {
  box-shadow: 0px 7px 0 0 rgb(122, 173, 255);
  background-color: white;
  color: rgb(122, 173, 255);
}

.footer {
  display: flex;
  width: 100%;
  background-color: #eff2f9;
}
.footer div {
  margin: 0 auto;
}
.footer h4 {
  padding: 10px;
}
.footer ul {
  padding: 0px;
}
.footer li {
  transition: 300ms;
  color: gray;
  border-bottom: 1px solid transparent;
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
}
.footer li:hover {
  box-sizing: border-box;
  color: rgb(122, 173, 255);
  border-bottom: 1px solid rgb(122, 173, 255);
}

.panelFooter {
  height: 115px;
  margin-top: 50%;
}

.toTop {
  display: flex;
  position: fixed;
  left: 93%;
  top: 88%;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  z-index: 20;
  transition: 300ms;
}
.toTop:hover {
  background-color: rgb(27, 27, 129);
}
.toTop svg {
  color: white;
  width: 20px;
  margin: auto;
}

body {
  font-family: "Open sans";
}

html {
  scroll-behavior: smooth;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardsContainer .cardContainer:nth-child(1) .SVGContainer {
  background-color: #99bdff;
}
.cardsContainer .cardContainer:nth-child(5) .SVGContainer {
  background-color: #99bdff;
}
.cardsContainer .cardContainer:nth-child(7) .SVGContainer {
  background-color: #99bdff;
}
.cardsContainer .cardContainer:nth-child(9) .SVGContainer {
  background-color: #99bdff;
}
.cardsContainer .cardContainer:nth-child(2) .SVGContainer {
  background-color: #edbe65;
}
.cardsContainer .cardContainer:nth-child(4) .SVGContainer {
  background-color: #edbe65;
}
.cardsContainer .cardContainer:nth-child(6) .SVGContainer {
  background-color: #edbe65;
}
.cardsContainer .cardContainer:nth-child(10) .SVGContainer {
  background-color: #edbe65;
}
.cardsContainer .cardContainer:nth-child(3) .SVGContainer {
  background-color: #ef8160;
}
.cardsContainer .cardContainer:nth-child(8) .SVGContainer {
  background-color: #ef8160;
}

.panel {
  background-color: white;
  display: flex;
}
.panel img {
  height: 115px;
  margin-left: -40%;
  margin-right: 15%;
}
.panel .inner {
  display: flex;
  margin: auto;
}
.panel .inner p {
  display: flex;
  align-items: center;
  font-size: 14pt;
  color: rgba(0, 0, 0, 0.7);
}

#lowerContent {
  width: 100%;
  display: flex;
}

.contentMargin {
  margin: auto;
}/*# sourceMappingURL=app.css.map */